.home {
    display: grid;
    gap: 40px;

    .dados-container {
        display: grid;
        gap: 10px;
    }

    .charts-container {
        display: grid;
        gap: 25px;

        canvas {
            width: 100% !important;
        }

        .chart-estado {
            width: 100%;
            height: auto;

            
        }
    }

    @media screen and (min-width: 768px){
        gap: 65px;

        .dados-container {
            margin: 0 30px;
            width: calc(100% - 60px);
            grid-template-columns: 1fr 1fr;

        }

        .charts-container {
            display: flex;
            flex-direction: column;
            margin: 0 30px 30px 30px;
            width: calc(100% - 60px);

            canvas {
                width: auto !important;
            }
    
            .chart-estado {
                max-width: 500px;
                max-height: 700px;
            }

            .chart-idade {
                max-height: 800px;
            }
        }
    }
}