@import '../constants/variables.scss';


footer {
    background-color: $primary-background;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-text;

    h3 {
        margin: 0;
        font-size: 16px;
        color: $primary-text;
        text-align: center;
    }
}

.border-footer {
    width: 100%;
    height: auto;
    fill: $primary-background;
    
}